body {
    background-color: #4B5A7B;
    margin: 0 !important;
}
.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.center {
    border: none !important;
    text-align: center;
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-info {
    margin-top: 20px;
}


.splash-container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    text-align: left;
}

.img{
  
   max-height: 100vh;
}

.img2{
    height: 20vh;
}

.text-info{
    color: #ffffff;
    padding-right: 1rem;
    font-size: 0.9rem;
    text-align: right;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.text-info p {
    margin-bottom: -10px;
}

.circle {
    background-color: #4B5A7B;
    border-radius: 5px;
    width: 280px;
    height: 10px;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    animation-name: load;
    animation-duration: 6s;
}

@keyframes load {
    0% {
        width: 5px;
    }
    30%{
        width: 30px;
    }
    100% {
        width: 280px;
    }
}

